/* Background */
/* line 1, ../scss/syntax.scss */
.chroma {
  background-color: #f0f0f0;
}

/* Error */
/* LineTableTD */
/* line 3, ../scss/syntax.scss */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
/* line 4, ../scss/syntax.scss */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}

/* LineHighlight */
/* line 5, ../scss/syntax.scss */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: #ffffcc;
}

/* LineNumbersTable */
/* line 6, ../scss/syntax.scss */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}

/* LineNumbers */
/* line 7, ../scss/syntax.scss */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}

/* Keyword */
/* line 8, ../scss/syntax.scss */
.chroma .k {
  color: #007020;
  font-weight: bold;
}

/* KeywordConstant */
/* line 9, ../scss/syntax.scss */
.chroma .kc {
  color: #007020;
  font-weight: bold;
}

/* KeywordDeclaration */
/* line 10, ../scss/syntax.scss */
.chroma .kd {
  color: #007020;
  font-weight: bold;
}

/* KeywordNamespace */
/* line 11, ../scss/syntax.scss */
.chroma .kn {
  color: #007020;
  font-weight: bold;
}

/* KeywordPseudo */
/* line 12, ../scss/syntax.scss */
.chroma .kp {
  color: #007020;
}

/* KeywordReserved */
/* line 13, ../scss/syntax.scss */
.chroma .kr {
  color: #007020;
  font-weight: bold;
}

/* KeywordType */
/* line 14, ../scss/syntax.scss */
.chroma .kt {
  color: #902000;
}

/* NameAttribute */
/* line 15, ../scss/syntax.scss */
.chroma .na {
  color: #4070a0;
}

/* NameBuiltin */
/* line 16, ../scss/syntax.scss */
.chroma .nb {
  color: #007020;
}

/* NameClass */
/* line 17, ../scss/syntax.scss */
.chroma .nc {
  color: #0e84b5;
  font-weight: bold;
}

/* NameConstant */
/* line 18, ../scss/syntax.scss */
.chroma .no {
  color: #60add5;
}

/* NameDecorator */
/* line 19, ../scss/syntax.scss */
.chroma .nd {
  color: #555555;
  font-weight: bold;
}

/* NameEntity */
/* line 20, ../scss/syntax.scss */
.chroma .ni {
  color: #d55537;
  font-weight: bold;
}

/* NameException */
/* line 21, ../scss/syntax.scss */
.chroma .ne {
  color: #007020;
}

/* NameFunction */
/* line 22, ../scss/syntax.scss */
.chroma .nf {
  color: #06287e;
}

/* NameLabel */
/* line 23, ../scss/syntax.scss */
.chroma .nl {
  color: #002070;
  font-weight: bold;
}

/* NameNamespace */
/* line 24, ../scss/syntax.scss */
.chroma .nn {
  color: #0e84b5;
  font-weight: bold;
}

/* NameTag */
/* line 25, ../scss/syntax.scss */
.chroma .nt {
  color: #062873;
  font-weight: bold;
}

/* NameVariable */
/* line 26, ../scss/syntax.scss */
.chroma .nv {
  color: #bb60d5;
}

/* LiteralString */
/* line 27, ../scss/syntax.scss */
.chroma .s {
  color: #4070a0;
}

/* LiteralStringAffix */
/* line 28, ../scss/syntax.scss */
.chroma .sa {
  color: #4070a0;
}

/* LiteralStringBacktick */
/* line 29, ../scss/syntax.scss */
.chroma .sb {
  color: #4070a0;
}

/* LiteralStringChar */
/* line 30, ../scss/syntax.scss */
.chroma .sc {
  color: #4070a0;
}

/* LiteralStringDelimiter */
/* line 31, ../scss/syntax.scss */
.chroma .dl {
  color: #4070a0;
}

/* LiteralStringDoc */
/* line 32, ../scss/syntax.scss */
.chroma .sd {
  color: #4070a0;
  font-style: italic;
}

/* LiteralStringDouble */
/* line 33, ../scss/syntax.scss */
.chroma .s2 {
  color: #4070a0;
}

/* LiteralStringEscape */
/* line 34, ../scss/syntax.scss */
.chroma .se {
  color: #4070a0;
  font-weight: bold;
}

/* LiteralStringHeredoc */
/* line 35, ../scss/syntax.scss */
.chroma .sh {
  color: #4070a0;
}

/* LiteralStringInterpol */
/* line 36, ../scss/syntax.scss */
.chroma .si {
  color: #70a0d0;
  font-style: italic;
}

/* LiteralStringOther */
/* line 37, ../scss/syntax.scss */
.chroma .sx {
  color: #c65d09;
}

/* LiteralStringRegex */
/* line 38, ../scss/syntax.scss */
.chroma .sr {
  color: #235388;
}

/* LiteralStringSingle */
/* line 39, ../scss/syntax.scss */
.chroma .s1 {
  color: #4070a0;
}

/* LiteralStringSymbol */
/* line 40, ../scss/syntax.scss */
.chroma .ss {
  color: #517918;
}

/* LiteralNumber */
/* line 41, ../scss/syntax.scss */
.chroma .m {
  color: #40a070;
}

/* LiteralNumberBin */
/* line 42, ../scss/syntax.scss */
.chroma .mb {
  color: #40a070;
}

/* LiteralNumberFloat */
/* line 43, ../scss/syntax.scss */
.chroma .mf {
  color: #40a070;
}

/* LiteralNumberHex */
/* line 44, ../scss/syntax.scss */
.chroma .mh {
  color: #40a070;
}

/* LiteralNumberInteger */
/* line 45, ../scss/syntax.scss */
.chroma .mi {
  color: #40a070;
}

/* LiteralNumberIntegerLong */
/* line 46, ../scss/syntax.scss */
.chroma .il {
  color: #40a070;
}

/* LiteralNumberOct */
/* line 47, ../scss/syntax.scss */
.chroma .mo {
  color: #40a070;
}

/* Operator */
/* line 48, ../scss/syntax.scss */
.chroma .o {
  color: #666666;
}

/* OperatorWord */
/* line 49, ../scss/syntax.scss */
.chroma .ow {
  color: #007020;
  font-weight: bold;
}

/* Comment */
/* line 50, ../scss/syntax.scss */
.chroma .c {
  color: #60a0b0;
  font-style: italic;
}

/* CommentHashbang */
/* line 51, ../scss/syntax.scss */
.chroma .ch {
  color: #60a0b0;
  font-style: italic;
}

/* CommentMultiline */
/* line 52, ../scss/syntax.scss */
.chroma .cm {
  color: #60a0b0;
  font-style: italic;
}

/* CommentSingle */
/* line 53, ../scss/syntax.scss */
.chroma .c1 {
  color: #60a0b0;
  font-style: italic;
}

/* CommentSpecial */
/* line 54, ../scss/syntax.scss */
.chroma .cs {
  color: #60a0b0;
  background-color: #fff0f0;
}

/* CommentPreproc */
/* line 55, ../scss/syntax.scss */
.chroma .cp {
  color: #007020;
}

/* CommentPreprocFile */
/* line 56, ../scss/syntax.scss */
.chroma .cpf {
  color: #007020;
}

/* GenericDeleted */
/* line 57, ../scss/syntax.scss */
.chroma .gd {
  color: #a00000;
}

/* GenericEmph */
/* line 58, ../scss/syntax.scss */
.chroma .ge {
  font-style: italic;
}

/* GenericError */
/* line 59, ../scss/syntax.scss */
.chroma .gr {
  color: #ff0000;
}

/* GenericHeading */
/* line 60, ../scss/syntax.scss */
.chroma .gh {
  color: #000080;
  font-weight: bold;
}

/* GenericInserted */
/* line 61, ../scss/syntax.scss */
.chroma .gi {
  color: #00a000;
}

/* GenericOutput */
/* line 62, ../scss/syntax.scss */
.chroma .go {
  color: #888888;
}

/* GenericPrompt */
/* line 63, ../scss/syntax.scss */
.chroma .gp {
  color: #c65d09;
  font-weight: bold;
}

/* GenericStrong */
/* line 64, ../scss/syntax.scss */
.chroma .gs {
  font-weight: bold;
}

/* GenericSubheading */
/* line 65, ../scss/syntax.scss */
.chroma .gu {
  color: #800080;
  font-weight: bold;
}

/* GenericTraceback */
/* line 66, ../scss/syntax.scss */
.chroma .gt {
  color: #0044dd;
}

/* GenericUnderline */
/* line 67, ../scss/syntax.scss */
.chroma .gl {
  text-decoration: underline;
}

/* TextWhitespace */
/* line 68, ../scss/syntax.scss */
.chroma .w {
  color: #bbbbbb;
}
