{{ partial "head" . }}

<div id="container">
	{{ partial "header" . }}
   	
   	<div class="outer">
   	{{ if not .Params.disable_profile }}
    	{{ partialCached "profile" . }}
    {{ end }}

    {{ if .Params.disable_profile }}
      <section id="main-without-profile">
      {{ block "main" . }}{{ end }}
      </section>
    {{ else }}
      <section id="main">
      {{ block "main" . }}{{ end }}
      </section>
    {{ end }}

   	{{ if not .Params.disable_widgets }}
    	{{ partial "sidebar" . }}
    {{ end }}
	</div>
</div>

{{ partialCached "footer" . }}
</body>
</html>
